
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Young+Serif&display=swap");
@font-face
{
    font-family: 'Cabold comic demo';
    src: url(./fonts/Cabold\ Comic\ demo.otf) format('truetype');
}


:root
{

    --background-header:#ffffff;
    --cor-nav:#8e5620;
    --background-color: rgb(34,193,195);
    --background-linear: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(241,200,82,1) 53%);
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
    
}

body
{
    background: rgb(252,250,70);
    background: radial-gradient(circle, rgba(252,250,70,1) 0%, rgba(251,167,63,1) 100%);
    height: 100vh;
}



.menu
{
    display: flex;
    justify-content: space-around;
    
}


.header-1
{
    width: 30%;
    height: 60px;
    background-color: var(--background-header);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    
}

.header-2
{
    width: 30%;
    height: 60px;
    background-color: var(--background-header);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;   
}
    
header
{
    margin-top: 2%;   
        
}

.logo__svg
{
    margin-top: 1%;
    border-radius: 50%;   
}

.logo__svg img
{
    width: 10vw;
    background: #ffffff;
    border-radius: 50%;
}

.header-1::before 
{
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid #feaf4f;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.header-2::before
{
    content: '';
    width: 0;
    height: 0;
    border-right: 20px solid #feaf4f;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    
}

.navbar a{
    font-size: 1rem;
    color: white;
    
}

nav a 
{
    color: var(--cor-nav);
    text-decoration: none;
    font-weight: 700;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 0.7rem;
    font-family: 'DynaPuff';
    
} 

.navbar {
  display: none;
  
}




/* =============== fim header ================ */

/* ================= nav mobile =============== */

.navbar
{
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 25px;
    transition: all 0.5s ease;
    
}
.navbar.sticky
{
    padding: 10px 25px;
    background-color: white;
    box-shadow: var(--shadow-black-100);
}
.navbar .logo a
{
    font-size: 24px;
    color: var(--black-900);
    font-weight: 600;
    text-transform: capitalize;
}
.navbar .logo a span
{
    color: white;
}

.navbar .logo img {
    width: 150px;
    margin-top: -15px;
}
.navbar .menuu .nav-item
{
    display: inline-block;
    position: relative;
    margin-left: 36px;
    
}
.navbar .menuu .nav-item .nav-link
{
    color: white;
    font-size: 16px;
    font-weight: 600;
    display: block;
    text-transform: capitalize;
    padding: 10px 0;
    list-style-type: none;
}
.navbar.sticky .menuu .nav-item .nav-link
{
    color: white;
}
.navbar .nav-item .nav-link span
{
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out 0s;
}
.navbar .nav-item .nav-link span::before
{
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background-color: white;
    left: 110%;
}
.navbar .nav-item .nav-link span::after
{
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--white);
    left: 140%;
}
.navbar.sticky .nav-item a span,.navbar.sticky .nav-item a span::before,.navbar.sticky .nav-item a span::after
{
    background-color: var(--main-color);
}
.navbar .nav-item > .nav-link.active span,.navbar .nav-item:hover > .nav-link span
{
    opacity: 1;
    visibility: visible;
    width: 60%;
}
.navbar .nav-item > .nav-link.active span::before,.navbar .nav-item:hover > .nav-link span::before
{
    width: 20%;
}
.navbar .nav-item > .nav-link.active span::after,.navbar .nav-item:hover > .nav-link span::after
{
    width: 15%;
}
.menu-btn
{
    background-color: var(--main-color);
    height: 34px;
    width: 44px;
    box-shadow: var(--shadow-black-100);
    padding: 0;
    border-radius: 5px;
    line-height: 34px;
    text-align: center;
    color: var(--white);
    font-size: 17px;
    display: none;
}
.navbar.sticky .menu-btn
{
    color: white;
    background-color: white;
}

@media (min-width: 900px)
{
  .links {
    display: none;
  }
}

@media (max-width: 899px)
{


  .navbar .menuu
    {
        position: fixed;
        left: 100%;
        top: 0;
        flex-direction: column;
        background: #000;
        width: 50%;
        text-align: center;
        transition: all 0.5s ease;
        box-shadow: 0 10px 27px rgba(0,0,0,.05);
        list-style-type: none;
        font-size: 2rem;
    
    }
    .navbar .menuu.active 
    {
        left: 50%;
        height: 80vh;
    }
    .navbar.sticky .menuu
    {
        background-color: white;
        top: 65px;
    }
    .navbar .menuu .nav-item
    {
        display: block;
        margin: 6px 0;
    }
    .navbar.sticky .menuu .nav-item .nav-link
    {
        color: white;
    }
    .navbar .nav-item .nav-link span 
    {
        display: none;
    }
    .navbar .menu-btn
    {
        display: block;
        z-index: 999;
    }

    .menu {
      display: none;
    }
}
/* ========= fim nave mobile ==================== */

.lista__home 
{

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.lista__home  .lista__item
{
    text-align: center;
    margin: auto 1vw;
    gap: 5px;
    text-transform: uppercase;
    
}

.lista__item
{
    color: #8e5620;
}

nav a:hover
{
    color: #eea867;
    transition: .5s;
}

.titulo{
  margin: auto ;

}

.titulo h1
{
    color: white;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.352);
    text-transform: uppercase;
    line-height: 2.5vw;
    font-size: 3vw;
    font-family: 'DynaPuff', serif;
    text-align: center;

}

.titulo span {
    font-size: 6.9vw;
    line-height: 6.5vw;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.537);
    font-family: 'DynaPuff', serif;
    text-align: center;
    
}
main
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.interface
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 74vh;
    margin: auto; 
    
}
.banner__dog
{
    text-align: center;
    margin: auto; 
}

.banner__dog img
{
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 25%;
    transform: translate(-50%);
}


.icons
{
    font-size: 0.7rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container i 
{
  font-size: 2.4rem;
  
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1em;
    
}
.botão_1{
    width: 125px;
    height: 50px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.537);
}
.botão__texto{
    text-decoration: none;
    color: #8e5620;
    font-weight: 400;
    font-family: 'DynaPuff';
}

.custom-shape-divider-bottom-1700353594 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1700353594 svg {
    position: relative;
    display: block;
    width: calc(169% + 1.3px);
    height: 180px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1700353594 .shape-fill {
    fill:rgb(255, 255, 255);
}

@media (min-width: 1100px) and (max-width: 1200px)
{

  .icons
{
    font-size: 0.7rem;
    gap: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container i 
{
  font-size: 2.4rem;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botão_1
{
  width: 125px;
  height: 50px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.537);

}
}

@media (min-width: 901px) and (max-width: 1100px)
{

  .banner__dog img
  {
    width: 350px;
  }

  .titulo{
    margin: auto ;
    position: absolute;
    left: 10%;
    top: 40%;
  
  }
  
  .titulo h1
  {
      color: white;
      text-shadow: 1px 2px rgba(0, 0, 0, 0.352);
      text-transform: uppercase;
      line-height: 2.5vw;
      font-size: 3vw;
      font-family: 'DynaPuff', serif;
      text-align: center;
  
  }
  
  .titulo span {
      font-size: 6.9vw;
      line-height: 6.5vw;
      text-shadow: 1px 2px rgba(0, 0, 0, 0.537);
      font-family: 'DynaPuff', serif;
      text-align: center;
      
  }
  .icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    font-size: 0.7rem;
    gap: 0.2rem;
}
}

@media (max-width: 900px)

{

  .titulo {
    position: absolute;
    
  }
  
  .titulo h1
  {
      color: white;
      text-shadow: 1px 2px rgba(0, 0, 0, 0.352);
      text-transform: uppercase;
      line-height: 1.4rem;
      font-size: 1.3rem;
      font-family: 'DynaPuff', serif;
      text-align: center;
  
  }
  
  .titulo span {
      font-size: 3.5rem;
      line-height: 3rem;
      text-shadow: 1px 2px rgba(0, 0, 0, 0.537);
      font-family: 'DynaPuff', serif;
      text-align: center;
      
  }

  .banner__dog img
  {
    width: 350px;
  }


.icons {
  display: none;
 
}




}

/* ======== SOBRE ============ */

.sobre
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    
}

.image-sobre img
{
    animation: float 3s ease-in-out infinite; 
    margin-left: 150px;
    align-self: center;
}
.sobre-titulo {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre-titulo h1 {
    font-size: 2.5vw;
    font-family: 'DynaPuff', cursive;
    text-align: center;
}

.sobre-titulo p {
    width: 60%;
    font-size: 1.4vw;
    text-align: center;
    font-family: 'Playpen Sans', cursive;
}

.sobre-titulo a {
    font-size: 2.5vw;
    margin-top: 40px;
    display: inline;
    color: #8e5620;
    transition: transform 0.3s ease;
}

.sobre-titulo a:hover
{
    transform: scale(1.2);
}

@media (max-width: 899px) 
{
    .sobre 
    {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }

    .image-sobre img
    {
        max-width: 200px;
        animation: float 3s ease-in-out infinite; 
        margin-left: 45px;
        align-self: center;
    }

    .sobre-titulo h1 {
        font-size: 1.8rem;
        font-family: 'DynaPuff', cursive;
        text-align: center;
    }
    
    .sobre-titulo p {
        width: 60%;
        font-size: 0.8rem;
        text-align: center;
        font-family: 'Playpen Sans', cursive;
    }
    
    .sobre-titulo a {
        font-size: 2.0rem;
        margin-top: 40px;
        display: inline;
        color: #8e5620;
        transition: transform 0.3s ease;
    }

  }



   

@keyframes float 
{
    0%, 100%
    {
        transform: translateY(10px);
    }
    50% 
    {
        transform: translateY(-30px);
    }
}

/* ======== área de serviço ============ */

.service-area 
{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-top: 90px;
    padding-bottom: 120px;
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    z-index: 1;
}

.service-area .heart-icon 
{
    position: absolute;
    animation: heartbeat 0.7s cubic-bezier(0.245, 0.325, 0.51, 1.305) infinite alternate;
    z-index: -1;
}
.service-area .heart-icon-1 
{
    top: 0;
    left: 16%;
}
.service-area .heart-icon-2 
{
    top: 6%;
    left: 0;
}
.service-area .heart-icon-3 
{
    top: 33%;
    left: 9%;
}
.service-area .heart-icon-4 
{
    top: 37%;
    left: 20%;
}
.service-area .heart-icon-5 
{
    top: 56%;
    left: 10%;
}
.service-area .heart-icon-6 
{
    bottom: 17%;
    left: 9%;
}
.service-area .heart-icon-7 
{
    top: -9%;
    right: 7%;
}
.service-area .heart-icon-8 
{
    top: 14%;
    right: 9%;
}
.service-area .heart-icon-9 
{
    top: 24%;
    right: 20%;
}
.service-area .heart-icon-10 
{
    top: 50%;
    right: 14%;
}
.service-area .heart-icon-11 
{
    bottom: 25%;
    right: 3%;
}

.service-area .service-wrap 
{
    margin-top: 52px;
    margin-bottom: 50px;
}
.service-area .service-wrap .service-item .service-item-inner .service-icon 
{
    display: inline-block;
    padding: 12px 15px;
    position: relative;
    margin-bottom: 27px;
    z-index: 1;
}
.service-area .service-wrap .service-item .service-item-inner .service-icon i 
{
    font-size: 65px;
    line-height: 60px;
    color: #424242;
    
}
.service-area .service-wrap .service-item .service-item-inner .service-icon:before,
.service-area .service-wrap .service-item .service-item-inner .service-icon:after 
{
    content: "";
    position: absolute;
    display: block;
    width: 45px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #e5f5f6;
    
}
.service-area .service-wrap .service-item .service-item-inner .service-icon:after 
{
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skew(-15deg,0deg);
    -moz-transform: skew(-15deg,0deg);
    -ms-transform: skew(-15deg,0deg);
    -o-transform: skew(-15deg,0deg);
    transform: skew(-15deg,0deg);
}
.service-area .service-wrap .service-item2 .service-item-inner .service-icon:before,
.service-area .service-wrap .service-item2 .service-item-inner .service-icon:after 
{
    background-color: #fbe9e6;
}
.service-area .service-wrap .service-item3 .service-item-inner .service-icon:before,
.service-area .service-wrap .service-item3 .service-item-inner .service-icon:after 
{
    background-color: #fdf3e3;
}
.service-area .service-wrap .service-item4 .service-item-inner .service-icon:before,
.service-area .service-wrap .service-item4 .service-item-inner .service-icon:after 
{
    background-color: #f3ebf7;
}
.service-area .service-wrap .service-item .service-item-inner .service-content 
{
    padding-right: 35px;
    padding-left: 35px;
}
.service-area .service-wrap .service-item .service-item-inner .service-content .service__title 
{
    font-size: 20px;
    line-height: 20px;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 23px;
    font-family: 'Nunito', sans-serif;
}
.service-area .service-wrap .service-item .service-item-inner .service-content .service__desc 
{
    line-height: 29px;
}
.service-area .button-shared .theme-btn,
.service-area .button-shared .theme-btn:after 
{
    background-color: #e36955;
}
.service-area .button-shared .theme-btn:hover,
.service-area .button-shared .theme-btn:hover:after 
{
    background-color: #f1ae44;
}

/* Heartbeat frame*/
@-webkit-keyframes heartbeat 
{
    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes heartbeat 
{
    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.service-area .button-shared .theme-btn,
.service-area .button-shared .theme-btn:after 
{
    background-color: #e36955;
}
.service-area .button-shared .theme-btn:hover,
.service-area .button-shared .theme-btn:hover:after 
{
    background-color: #f1ae44;
}

.service__desc {
    font-family: 'Nunito', sans-serif;
}
.hiw-area .row 
{
    margin-left: -10px;
    margin-right: -10px;
}

.col-lg-12 
{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.theme-btn 
{
    font-size: 12px;
    text-transform: uppercase;
    background: #f1ae44;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 30px 0 35px;
    line-height: 49px;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    text-decoration: none;
    border: none;
    font-family: 'Nunito', sans-serif;
}
.theme-btn:after 
{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 1px;
    z-index: -1;
    background: #f1ae44;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skew(-12deg,0deg);
    -moz-transform: skew(-12deg,0deg);
    -ms-transform: skew(-12deg,0deg);
    -o-transform: skew(-12deg,0deg);
    transform: skew(-12deg,0deg);
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    
}
.theme-btn:hover,
.theme-btn:hover:after 
{
    background-color: #e36955;
    color: #fff;
    text-decoration: none;
}



/* ======== section animais ============ */


.menuanimais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

#intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 40px;
    min-height: 100dvh;
    overflow: hidden;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px 50px;
    
  }
  
  .info h1 {
    font-family: 'DynaPuff', cursive;
    text-align: center;
    font-size: 3rem;
  }
  
  .info p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-family: 'Playpen Sans', cursive;
  }
  .peso{
    font-family: 'Playpen Sans', cursive;
  }
  
  .split-beer {
    display: flex;
    flex-direction: row;
  }
  
  .beer {
    max-width: 100%;
    width: 250px;
    border-radius: 20px;
    margin-left: 15px;
    border: 2px solid orange;
  }
  
  .beer:nth-child(2) {
    transform: translateY(-1.5rem);
  }
  
  .button:after,
  .close-btn:after {
    background: #ffffff;
  }
  
  .explore,
  .explore:before,
  .close-btn,
  .close-btn:before {
    background: rgba(255, 193, 7, 1);
    background: linear-gradient(
      45deg,
      rgba(255, 193, 7, 1) 0%,
      rgba(255, 87, 34, 1) 100%
    );
    background: -moz-linear-gradient(
      45deg,
      rgba(255, 193, 7, 1) 0%,
      rgba(255, 87, 34, 1) 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      rgba(255, 193, 7, 1) 0%,
      rgba(255, 87, 34, 1) 100%
    );
  }
  
  .button {
    display: inline-block;
    position: relative;
    border-radius: 10px;
    text-decoration: none;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .button:hover {
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8);
  }
  
  .button:hover::after {
    left: 100%;
    top: 100%;
    bottom: 100%;
    right: 100%;
  }
  
  .button::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: inherit;
    transition: all 0.5s;
  }
  
  .button::after {
    content: "";
    display: block;
    position: absolute;
    left: 2.5px;
    top: 2px;
    bottom: 2.5px;
    right: 2px;
    z-index: -1;
    border-radius: 8px;
    transition: all 0.5s;
  }

  
  #content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 60px 40px;
    min-height: 100dvh;
    overflow: hidden;
    align-items: center;
  }
  
  .cardd {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    border: 1px solid #000;
    width: 300px;
    aspect-ratio: 1/1;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.03),
      0 22.3px 17.9px rgba(0, 0, 0, 0.05);
  }
  
  a:link,
  a:visited,
  a:hover,
  a:active {
    background-color: transparent;
  }
  
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #000;
    border-radius: 20px 20px 0 0;
    text-align: center;
  }
  
  .more {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
  }
  
  .open-icon {
    font-size: 1.25rem;
    color: #000;
    transform: translateY(3px);
    margin-left: 3px;
    z-index: 1;
  }
  
  .modal-open {
    text-transform: uppercase;
    color: #000;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    grid-area: 1 / 2 / span 1 / span 1;
  }
  
  .card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: 2;
    transition: all 450ms ease-in 200ms;
  }
  
  .cardd:hover > .card-img {
    width: 50%;
    height: 50%;
    top: 50%;
    border-radius: 0 0 0 20px;
  }
  
  
  
  body.prevent-background-scroll {
    min-height: 100dvh;
    overflow-y: hidden;
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
    animation: openModal 0.3s ease-in-out 1 normal;
  }
  
  @keyframes openModal {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 50%;
    border-radius: 4px;
    z-index: 30;
  }
  
  .modal-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 15px 20px 10px;
    font-size: 1.2rem;
  }
  
  .modal-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #d1d5db;
  }
  
  .modal-header .modal-close {
    background: #efefef;
    border: 0;
    outline: 0;
    transform: translateY(3px);
    background-color: transparent;
    cursor: pointer;
  }
  
  .close-icon {
    font-size: 1.6rem;
    color: #000;
  }
  
  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 50px;
    height: 70vh;
    overflow-y: auto;
  }
  
  .modal-body > img {
    max-width: 100%;
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 20px;
  }
  
  
  
  .modal-body::-webkit-scrollbar {
    width: 0.7rem;
  }
  
  .modal-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.3rem rgb(79, 78, 78);
    background-color: rgba(255, 87, 34, 0.1);
  }
  
  .modal-body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0.5rem rgba(255, 87, 34, 1);
    outline: none;
  }
  
  
  @media (max-width: 1100px) {
    .beer {
      width: 200px;
    }
  
    #content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 800px) {
    #intro {
      padding: 30px;
    }
  
    .beer {
      width: 150px;
    }
  
    .info {
      gap: 20px;
      padding: 30px 30px;
    }
  
    .info h1 {
      font-size: 2.5rem;
    }
  
    .info p {
      font-size: 1rem;
    }
  
    #content {
      gap: 30px;
      padding: 60px 20px;
    }
  
    .cardd {
      width: 250px;
    }
  
    .modal-content {
      width: 80%;
    }
  
    footer {
      padding: 20px 80px 60px;
    }
  
    footer > p {
      font-size: 1.1rem;
    }
  }
  
  @media (max-width: 550px) {
    #intro {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        "split-beer"
        "info";
    }
  
    .info {
      grid-area: info;
    }
  
    .split-beer {
      grid-area: split-beer;
      margin: 20px auto;
    }
  
    .beer {
      width: 100px;
    }
  
    #content {
      grid-template-columns: repeat(1, 1fr);
      padding: 40px 40px;
    }
  
    footer {
      padding: 20px 30px 60px;
    }
  
    footer > p {
      font-size: 1rem;
    }
  }

  /* Voluntários Section */

  .jarallax {
    background: url(image/image4-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.help-them {
  position: relative;
  display: block;
  font-family: 'Nunito Sans', sans-serif;
  
}

.help-them-bg.jarallax div div {
  filter: grayscale(100%)
}



.help-them-bg,.help-them-bg:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: brightness(20%)
}

.help-them-bg:before {
  content: "";
  background-color: rgba(31,34,48,.9);
  background-color: rgba(var(--thm-black-rgb),.9)
}

.help-them-bg.jarallax div div {
  filter: grayscale(100%)
}

.help-them__top {
  border-bottom: 1px solid hsla(0,0%,100%,.1);
  margin-bottom: 93px;
  padding-bottom: 96px;

}

.help-them__top,.help-them__top-content {
  position: relative;
  display: block
}

.help-them__top-content-title {
  font-size: 70px;
  font-weight: 900;
  line-height: 80px;
  color: #fff;
  font-family: 'Nunito', sans-serif;

}

.help-them__top-video-box {
  position: relative;
  display: block;
  margin-left: 76px;
  
}

.help-them__top-video-btn {
  height: 100px;
  width: 100px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 30px;
  color: #fff;
  transition: all .5s ease;
  font-family: 'Nunito', sans-serif;
  
}

.help-them__top-video-btn:hover {
  color: #fff;
  border-color: #15c8a0;
  border-color: var(--thm-primary);
  background-color: #15c8a0;
  background-color: var(--thm-primary);
  filter: brightness(100%);
  
}

.help-them__top-video-text {
  font-size: 30px;
  color: #15c8a0;
  font-family: "reeyregular";
  font-family: var(--thm-reey-font);
  font-weight: 400;
  margin-left: 54px;
  margin-top: 17px;
  margin-bottom: 0;
  font-family: 'Nunito', sans-serif;
  filter: brightness(100%);
}

.help-them__bottom {
  position: relative;
  display: block;
}

.help-them__single {
  display: flex
}

.help-them__icon {
  position: relative;
  display: block;
  top: 7px
}

.help-them__icon span {
  font-size: 65px;
  color: #15c8a0;
  line-height: 65px;
  position: relative;
  display: block;
  transition: all .5s linear;
  transition-delay: .1s
}

.help-them__single:hover .help-them__icon span {
  transform: rotate(1turn)
}

.help-them__text {
  margin-left: 30px
}

.help-them__text h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 900;
  line-height: 30px;
  margin-bottom: 12px;
  font-family: 'Nunito', sans-serif;
}

.help-them__text p {
  font-size: 16px;
  color: #fff;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.help-them__top-content-title {
  text-align: center;
  font-size: 39px;
  line-height: 50px
}

.help-them__top-video-box {
  margin-left: 0;
  text-align: center;
  margin-top: 25px
}

.help-them__top-video-btn {
  margin: 0 auto
}

.help-them__single {
  margin-bottom: 30px
}

.help-them {
  padding: 87px 0 60px;
  

}



/* Estilo para o contêiner Jarallax */
.help-them-bg .jarallax {
  background: url(image/image4-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(100%);
  overflow: hidden;

}

/* Estilo para a imagem de fundo dentro do contêiner Jarallax */
.help-them-bg img {
  object-fit: cover;
  object-position: 50% 50%;
  max-width: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform, opacity;
  filter: brightness(20%);
}


/* ================== Formulário ==================== */

.form-donation
{
    background: linear-gradient(180deg, #FEF7C9 0%,#FEF7C9 50%,#653731 49%, #653731 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
}


.wrapper{
  position: relative;
  width: 40%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top{
  display: flex;
  align-items: center;
  position: relative;
  top:15px;
  z-index: 2;
}

.top span{
  font-size: 40px;
  font-weight: 500;
}

.top span:first-child{
  color:#1F2A32
}

.top span:last-child{
  color:#FF8A8A
}

.bottomm {
  position: relative;
  background-color: #FADBCC;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.bottomm .triangle{
  width: 0; 
  height: 0; 
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 60px solid #75372D;
  position: relative;
  left: 60px;
}


.bottomm form{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap:10px;
  height: 100%;
  width: 80%;   
  padding: 0px 20px;
}


.document 
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

input[type="file"]
     {
        display: none;
        
    }

     h6{
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

     #label-file
    {     
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }

    #label-file p 
    {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }


.profilePic{
  display: flex;
  background-color: #653731;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #A36A4F;
  color: white;
  align-self: center;
  cursor: pointer;
}

.profilePic i:first-child {
  font-size: 30px;
}

.profilePic .circle{
  background-color: #A36A4F;
  position: absolute;
  left: 44%;
  bottom: 33%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.profilePic .circle i{
  font-size: 18px;
} 

@media (min-width: 801px) and (max-width: 900px)
{
  .profilePic .circle{
    background-color: #A36A4F;
    position: absolute;
    left: 44%;
    bottom: 44%;
}
}


@media (max-width: 800px)
{
  .profilePic .circle{
    background-color: #A36A4F;
    position: absolute;
    left: 44%;
    bottom: 44%;
}
}

.bottomm form input{
  border: none;
  outline: 0;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  
}

#label-porte {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}


.singUp {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

.singUp button{
  background-color: #A36A4F;
  color:white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 10px auto;
}

.singUp button:hover
{
  background: #15c8a0;
}

.singUp button i{
  color:#653731;
  font-size: 16px;
  margin-left: 10px;
}

.singUp span{
  cursor: pointer;
}

.form-donation .paw{
  font-size: 80px;
  position: relative;
}

.form-donation .paw:first-child{
  bottom:100px;
  right:200px;
  color: #653731;
  transform: rotate(-20deg);
}
.form-donation .paw:last-child{
  top:100px;
  left:200px;
  color: #FEF7C9;
  transform: rotate(20deg);
}

select {
  border: 1px solid #653731;
  background: transparent;
  color: #653731;
  padding: 10px 15px;
  border-radius: 4px;
  letter-spacing: 1px;
  cursor: pointer;
}


@media (max-width: 1200px) {
  .wrapper{
      width: 70%;
  }

  .form-donation .paw{
      display: none;
  }
}

@media (max-width: 998px) {
  .wrapper{
      width: 80%;
  }

}


@media (max-width: 669px) {
  .wrapper{
      width: 100%;
  }

  .bottomm{
      width: 90%
  }

}
@media (max-width: 441px) {
  .top span {
      display: none;
  }
  .singUp  {
     flex-direction: column-reverse;
     gap: 3px;
     align-items: center;
     top: 10px;
  }
  .singUp span{
      align-self: flex-start;
  }
  .singUp button{
      align-self: flex-end;
  }
}


@keyframes items{
  0%{
     transform: translateX(300%);
  }
  100%{
      opacity: 1;
      transform: translateX(0%);
  }
}


    /* ========== fim formulario ============= */

    footer
    {
      width: 100%;
      padding: 9px;
      text-align: center;
      background: black;
      color:#e78c23;
      font-size: 1.2rem;
      font-family: 'Roboto' sans-serif;
    }





