
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Young+Serif&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Tilt+Neon&display=swap");

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


@font-face
{
    font-family: 'Cabold comic demo';
    src: url(./fonts/Cabold\ Comic\ demo.otf) format('truetype');
}


:root
{

    --background-header:#ffffff;
    --cor-nav:#8e5620;
    --background-color: rgb(34,193,195);
    --background-linear: linear-gradient( rgb(249, 254, 92) 0%,
    rgb(186, 196, 1) 40%,
    rgb(233, 236, 21) 50%,
    rgb(255, 156, 25) 70%,
    rgb(255, 115, 0) 100%);
    --background-main: #FEF7C9;
    --background-second: #653731;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
    
}

html {
  scroll-behavior: smooth;
}



body
{
    background: rgb(252,250,70);
    background: radial-gradient(circle, rgba(18,45,76,1) 31%, rgba(18,11,28,1) 100%);
    height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  background: transparent;
  padding: 9px;

}

.nav-img > img
{
  width: 60px;
  height: 60px;
  border-radius: 999px;
}

.nav-img > span
{
  color: white;
  text-align: center;
  font-family: "Tilt Neon", sans-serif;
  
}

.nav-button
{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.nav-button > .buttonn a
{
  text-decoration: none;
  color: white;
}

.nav-button > button
{
  width: 70px;
  height: 40px;
  background: transparent;
  color: white;
  border: 1px solid;
  border-color: rgb(249, 254, 92);
  border-radius: 20px;
  font-family: "Tilt Neon", sans-serif;
}

.nav-button .buttonn:hover
{
  background: rgb(255, 115, 0);
  color: white;
  border: 1px solid white;
}

@media (min-width: 900px) {
  nav {
    display: none;
  }
  
}

@media (min-width: 1100px) {
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }
  
}




.interface {
  display: grid;
  grid-template-columns: 45% 50%;
  place-items: center;
  gap: 50px;
  background: radial-gradient(circle, rgba(18,45,76,1) 31%, rgba(18,11,28,1) 100%);
  overflow: hidden;
  padding: 80px 80px;
}

.descricao {
  color: #fff;
  padding: 0 50px;
}

.descricao > h1 {
  font-family: "Tilt Neon", sans-serif;
  font-size: clamp(2rem, 4vw, 3rem);
  line-height: 1;
  margin-bottom: 25px;
}

.gradient-text {
  font-family: "Tilt Neon", sans-serif;
  background-image: linear-gradient(
    90deg,
    rgb(249, 254, 92) 0%,
    rgb(186, 196, 1) 40%,
    rgb(233, 236, 21) 50%,
    rgb(255, 156, 25) 70%,
    rgb(255, 115, 0) 100%
  );
  color: transparent;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
}

.descricao > p {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

.users-color-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.itemm {
  max-width: 200px;
  aspect-ratio: 1/1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5),
    inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  animation: fadeIn 0.5s linear 1 forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}

.itemm:nth-child(1) {
  background-color: #67d7e1;
  border-radius: 50% 50% 0 50%;
}

.itemm:nth-child(2) {
  border-radius: 50% 50% 0 0;
}

.itemm:nth-child(3) {
  background-color: #6cc164;
  border-radius: 50%;
}

.itemm:nth-child(4) {
  border-radius: 0 0 0 50%;
}

.itemm:nth-child(5) {
  border-radius: 0 50% 50% 0;
}

.itemm:nth-child(6) {
  background-color: #8071a8;
  border-radius: 0 50% 50% 50%;
}

.itemm:nth-child(7) {
  border-radius: 50% 50% 0 50%;
}

.itemm:nth-child(8) {
  background-color: #fe7519;
  border-radius: 50% 0 0 50%;
}

.itemm:nth-child(9) {
  background-color: #f5bec3;
  border-radius: 0 50% 50% 0;
}

.itemm:nth-child(10) {
  border-radius: 50%;
}

.itemm:nth-child(11) {
  background-color: #fcd659;
  border-radius: 50% 0 50% 50%;
}

.itemm:nth-child(12) {
  border-radius: 50% 0 0 0;
}

.users-color-container > img {
  width: 100%;
  pointer-events: none;
  user-select: none;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.content img {
  aspect-ratio: 3/2;
  border-radius: 10px;
  grid-row: 1 / 5;
  margin-bottom: 20px;
  user-select: none;
  object-fit: cover;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.content h1 {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  grid-row: 5 / 6;
}

.content p {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  grid-row: 6 / 9;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 14px;
}

.control li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #559b9a, #3b3d8a);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5),
    inset 0px 4px 4px rgba(255, 255, 255, 0.2);
  padding: 16px;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(1);
}

.control li::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #559b9a, #3b3d8a);
  border-radius: 50%;
  z-index: -1;
  transition: all 0.5s ease-in;
  opacity: 0;
}

.control li:hover::before {
  opacity: 1;
}

.arrow {
  font-size: 1.5rem;
  color: #fff;
}

@media (max-width: 1215px) {
  .descricao > p {
    font-size: 1rem;
  }

}

@media (max-width: 1015px) {
  .interface {
    grid-template-columns: 45% 50%;
    gap: 50px;
    padding: 140px 50px;
  }
  
  .descricao > p {
    font-size: 1rem;
  }

}

@media (max-width: 865px) {
  .interface {
    grid-template-columns: 45% 50%;
    gap: 60px;
    padding: 130px 70px;
  }
}

@media (max-width: 815px) {
  .interface {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "userscolorcontainer"
      "description";
    gap: 30px;
    padding: 90px 80px 70px;
  }

  .users-color-container {
    grid-area: userscolorcontainer;
  }

  .descricao {
    grid-area: description;
    padding: 0;
    text-align: center;
  }

  .descricao > p {
    font-size: 1.1rem;
  }

}

@media (max-width: 815px) {
  .descricao > p {
    font-size: 1rem;
  }
}

@media (max-width: 460px)
{
  .interface 
  {
    gap: 0;
    padding: 30px 40px;
  }
   

}

/* ======== SOBRE ============ */

.sobre
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: #ccc;
    border-bottom: 1px solid var(--background-second);
    
}

.sobre .paw{
  font-size: 80px;
  position: relative;
}

.sobre .paw:first-child{
  bottom:100px;
  right:200px;
  background-image: linear-gradient(
    90deg,
    rgb(249, 254, 92) 0%,
    rgb(255, 115, 0) 100%
  );
  color: transparent;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  transform: rotate(-20deg);
}
.sobre .paw:last-child{
  top: 0;
  left:0;
  background-color: rgb(18,45,76);
  color: transparent;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
}

.image-sobre img
{
    animation: float 3s ease-in-out infinite; 
    margin-left: 150px;
    align-self: center;
}
.sobre-titulo {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.sobre-titulo h1 {
  font-family: "Tilt Neon", sans-serif;
  background-color: rgb(18,45,76);
  color: transparent;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
    text-align: center;
}

.sobre-titulo p {
  font-family: "Tilt Neon", sans-serif;
  background: rgb(18,45,76);
  color: transparent;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
}

.sobre-titulo a {
    font-size: 2.5vw;
    margin-top: 40px;
    display: inline;
    color: rgb(18,45,76);
    transition: transform 0.3s ease;
    margin-inline: 10px;
}

.sobre-titulo a:hover
{
    color: #fe7519;
}

@media (max-width: 699px) 
{
    .sobre 
    {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        
    }

    .image-sobre img
    {
        max-width: 300px;
        animation: float 3s ease-in-out infinite; 
        margin-left: 45px;
        align-self: center;
    }

    .sobre-titulo h1 {
        font-size: 1.8rem;
        text-align: center;
        margin-top: -40px;
    }
    
    .sobre-titulo p {
        width: 70%;
        font-size: 0.8rem;
        text-align: center;
    }
    
    .sobre-titulo a {
        font-size: 2.0rem;
        margin-top: 20px;
        display: inline;
        transition: transform 0.3s ease;
    }

  }



   

@keyframes float 
{
    0%, 100%
    {
        transform: translateY(10px);
    }
    50% 
    {
        transform: translateY(-30px);
    }
}

/* ======== área de serviço ============ */

.service-area 
{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-top: 90px;
    padding-bottom: 120px;
    background-color: #ccc;
    font-family: 'Nunito', sans-serif;
    z-index: 1;
}

.service-area .heart-icon 
{
    position: absolute;
    animation: heartbeat 0.7s cubic-bezier(0.245, 0.325, 0.51, 1.305) infinite alternate;
    z-index: -1;
}
.service-area .heart-icon-1 
{
    top: 0;
    left: 16%;
}
.service-area .heart-icon-2 
{
    top: 6%;
    left: 0;
}
.service-area .heart-icon-3 
{
    top: 33%;
    left: 9%;
}
.service-area .heart-icon-4 
{
    top: 37%;
    left: 20%;
}
.service-area .heart-icon-5 
{
    top: 56%;
    left: 10%;
}
.service-area .heart-icon-6 
{
    bottom: 17%;
    left: 9%;
}
.service-area .heart-icon-7 
{
    top: -9%;
    right: 7%;
}
.service-area .heart-icon-8 
{
    top: 14%;
    right: 9%;
}
.service-area .heart-icon-9 
{
    top: 24%;
    right: 20%;
}
.service-area .heart-icon-10 
{
    top: 50%;
    right: 14%;
}
.service-area .heart-icon-11 
{
    bottom: 25%;
    right: 3%;
}

.service-area .service-wrap 
{
    margin-top: 52px;
    margin-bottom: 50px;
}
.service-area .service-wrap .service-item .service-item-inner .service-icon 
{
    display: inline-block;
    padding: 12px 15px;
    position: relative;
    margin-bottom: 27px;
    z-index: 1;
}
.service-area .service-wrap .service-item .service-item-inner .service-icon i 
{
    font-size: 65px;
    line-height: 60px;
    color: #424242;
    
}
.service-area .service-wrap .service-item .service-item-inner .service-icon:before,
.service-area .service-wrap .service-item .service-item-inner .service-icon:after 
{
    content: "";
    position: absolute;
    display: block;
    width: 45px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #e5f5f6;
    
}
.service-area .service-wrap .service-item .service-item-inner .service-icon:after 
{
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skew(-15deg,0deg);
    -moz-transform: skew(-15deg,0deg);
    -ms-transform: skew(-15deg,0deg);
    -o-transform: skew(-15deg,0deg);
    transform: skew(-15deg,0deg);
}
.service-area .service-wrap .service-item2 .service-item-inner .service-icon:before,
.service-area .service-wrap .service-item2 .service-item-inner .service-icon:after 
{
    background-color: #fbe9e6;
}
.service-area .service-wrap .service-item3 .service-item-inner .service-icon:before,
.service-area .service-wrap .service-item3 .service-item-inner .service-icon:after 
{
    background-color: #fdf3e3;
}
.service-area .service-wrap .service-item4 .service-item-inner .service-icon:before,
.service-area .service-wrap .service-item4 .service-item-inner .service-icon:after 
{
    background-color: #f3ebf7;
}
.service-area .service-wrap .service-item .service-item-inner .service-content 
{
    padding-right: 35px;
    padding-left: 35px;
}
.service-area .service-wrap .service-item .service-item-inner .service-content .service__title 
{
    font-size: 20px;
    line-height: 20px;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 23px;
    font-family: 'Nunito', sans-serif;
}
.service-area .service-wrap .service-item .service-item-inner .service-content .service__desc 
{
    line-height: 29px;
}
.service-area .button-shared .theme-btn,
.service-area .button-shared .theme-btn:after 
{
    background-color: #e36955;
}
.service-area .button-shared .theme-btn:hover,
.service-area .button-shared .theme-btn:hover:after 
{
    background-color: #f1ae44;
}

/* Heartbeat frame*/
@-webkit-keyframes heartbeat 
{
    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes heartbeat 
{
    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.service-area .button-shared .theme-btn,
.service-area .button-shared .theme-btn:after 
{
    background-color: #e36955;
}
.service-area .button-shared .theme-btn:hover,
.service-area .button-shared .theme-btn:hover:after 
{
    background-color: #f1ae44;
}

.service__desc {
    font-family: 'Nunito', sans-serif;
}
.hiw-area .row 
{
    margin-left: -10px;
    margin-right: -10px;
}

.col-lg-12 
{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.theme-btn 
{
    font-size: 12px;
    text-transform: uppercase;
    background: #f1ae44;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 30px 0 35px;
    line-height: 49px;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    text-decoration: none;
    border: none;
    font-family: 'Nunito', sans-serif;
}
.theme-btn:after 
{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 1px;
    z-index: -1;
    background: #f1ae44;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skew(-12deg,0deg);
    -moz-transform: skew(-12deg,0deg);
    -ms-transform: skew(-12deg,0deg);
    -o-transform: skew(-12deg,0deg);
    transform: skew(-12deg,0deg);
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    
}
.theme-btn:hover,
.theme-btn:hover:after 
{
    background-color: #e36955;
    color: #fff;
    text-decoration: none;
}



/* ======== section animais ============ */


.menuanimais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(18,45,76,1) 31%, rgba(18,11,28,1) 100%);
    
}

#intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 40px auto;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    margin: auto;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px 50px;
    
  }
  
  .info h1 {
    font-family: "Tilt Neon", sans-serif;
  background-image: linear-gradient(
    90deg,
    rgb(249, 254, 92) 0%,
    rgb(186, 196, 1) 40%,
    rgb(233, 236, 21) 50%,
    rgb(255, 156, 25) 70%,
    rgb(255, 115, 0) 100%
  );
  color: transparent;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  }
  
  .info p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    
    color: white;
  }
  .peso{
    font-family: "Tilt Neon", sans-serif;
  }
  
  .split-beer {
    display: flex;
    flex-direction: row;
  }
  
  .beer {
    max-width: 100%;
    width: 250px;
    border-radius: 20px;
    margin-left: 15px;
    border: 2px solid var(--background-second);
  }
  
  .beer:nth-child(2) {
    transform: translateY(-1.5rem);
  }
  
  .button:after,
  .close-btn:after {
    background: #ffffff;
  }
  
  .explore,
  .explore:before,
  .close-btn,
  .close-btn:before {
    background: rgba(255, 193, 7, 1);
    background: linear-gradient(
      45deg,
      rgba(255, 193, 7, 1) 0%,
      rgba(255, 87, 34, 1) 100%
    );
    background: -moz-linear-gradient(
      45deg,
      rgba(255, 193, 7, 1) 0%,
      rgba(255, 87, 34, 1) 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      rgba(255, 193, 7, 1) 0%,
      rgba(255, 87, 34, 1) 100%
    );
  }
  
  .button {
    display: inline-block;
    position: relative;
    border-radius: 10px;
    text-decoration: none;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .button:hover {
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8);
  }
  
  .button:hover::after {
    left: 100%;
    top: 100%;
    bottom: 100%;
    right: 100%;
  }
  
  .button::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: inherit;
    transition: all 0.5s;
  }
  
  .button::after {
    content: "";
    display: block;
    position: absolute;
    left: 2.5px;
    top: 2px;
    bottom: 2.5px;
    right: 2px;
    z-index: -1;
    border-radius: 8px;
    transition: all 0.5s;
  }

  
  #content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: auto 40px;
    min-height: 100dvh;
    overflow: hidden;
    align-items: center;
    padding-bottom: 100px;
  }
  
  
  .cardd {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    border: 1px solid #000;
    width: 300px;
    aspect-ratio: 1/1;
    color: #fff;
    border-radius: 20px;
    box-shadow: 6px 20px 10px rgba(0, 0, 0, 0.5);
  }
  
  a:link,
  a:visited,
  a:hover,
  a:active {
    background-color: transparent;
  }
  
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #000;
    border-radius: 20px 20px 0 0;
    text-align: center;
  }
  
  .more {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
  }
  
  .open-icon {
    font-size: 1.25rem;
    color: #000;
    transform: translateY(3px);
    margin-left: 3px;
    z-index: 1;
  }
  
  .modal-open {
    text-transform: uppercase;
    color: #000;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    grid-area: 1 / 2 / span 1 / span 1;
  }
  
  .cardd-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: 2;
    transition: all 450ms ease-in 200ms;
  }
  
  .cardd:hover > .cardd-img {
    width: 50%;
    height: 50%;
    top: 50%;
    border-radius: 0 0 0 20px;
  }
  
  
  
  body.prevent-background-scroll {
    min-height: 100dvh;
    overflow-y: hidden;
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
    animation: openModal 0.3s ease-in-out 1 normal;
  }
  
  @keyframes openModal {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 50%;
    border-radius: 4px;
    z-index: 30;
  }
  
  .modal-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 15px 20px 10px;
    font-size: 1.2rem;
  }
  
  .modal-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #d1d5db;
  }
  
  .modal-header .modal-close {
    background: #efefef;
    border: 0;
    outline: 0;
    transform: translateY(3px);
    background-color: transparent;
    cursor: pointer;
  }
  
  .close-icon {
    font-size: 1.6rem;
    color: #000;
  }
  
  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 50px;
    height: 70vh;
    overflow-y: auto;
  }
  
  .modal-body > img {
    max-width: 100%;
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 20px;
  }
  
  
  
  .modal-body::-webkit-scrollbar {
    width: 0.7rem;
  }
  
  .modal-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.3rem rgb(79, 78, 78);
    background-color: rgba(255, 87, 34, 0.1);
  }
  
  .modal-body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0.5rem rgba(255, 87, 34, 1);
    outline: none;
  }

  .ver-mais 
  {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px ;
    margin-top: -50px;

  }

  .ver-mais > button
  {
    padding: 4px;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(249, 254, 92);
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .ver-mais > button:hover 
  {
    background-color: #15c8a0;
  }

  @media (max-width: 1400px) {
    .beer {
      width: 200px;
    }
  
    #content {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  
  @media (max-width: 1100px) {
    .beer {
      width: 200px;
    }
  
    #content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 800px) {
    #intro {
      padding: 30px;
    }
  
    .beer {
      width: 150px;
    }
  
    .info {
      gap: 20px;
      padding: 30px 30px;
    }
  
    .info h1 {
      font-size: 2.5rem;
    }
  
    .info p {
      font-size: 1rem;
    }
  
    #content {
      gap: 30px;
      padding: 60px 20px;
    }
  
    .cardd {
      width: 250px;
    }
  
    .modal-content {
      width: 80%;
    }

    .ver-mais 
    {
      margin-top: 1px;
    }
  
    footer {
      padding: 20px 80px 60px;
    }
  
    footer > p {
      font-size: 1.1rem;
    }
  }
  
  @media (max-width: 550px) {
    #intro {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        "split-beer"
        "info";
    }
  
    .info {
      grid-area: info;
    }
  
    .split-beer {
      grid-area: split-beer;
      margin: 20px auto;
    }
  
    .beer {
      width: 100px;
    }
  
    #content {
      grid-template-columns: repeat(1, 1fr);
      padding: 40px 40px;
    }
  
    footer {
      padding: 20px 30px 60px;
    }
  
    footer > p {
      font-size: 1rem;
    }
  }

  /* Voluntários Section */

  .jarallax {
    background: url(image/image4-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.help-them {
  position: relative;
  display: block;
  font-family: 'Nunito Sans', sans-serif;
  
}

.help-them-bg.jarallax div div {
  filter: grayscale(100%)
}



.help-them-bg,.help-them-bg:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: brightness(20%)
}

.help-them-bg:before {
  content: "";
  background-color: rgba(31,34,48,.9);
  background-color: rgba(var(--thm-black-rgb),.9)
}

.help-them-bg.jarallax div div {
  filter: grayscale(100%)
}

.help-them__top {
  border-bottom: 1px solid hsla(0,0%,100%,.1);
  margin-bottom: 93px;
  padding-bottom: 96px;

}

.help-them__top,.help-them__top-content {
  position: relative;
  display: block
}

.help-them__top-content-title {
  font-size: 70px;
  font-weight: 900;
  line-height: 80px;
  color: #fff;
  font-family: 'Nunito', sans-serif;

}

.help-them__top-video-box {
  position: relative;
  display: block;
  margin-left: 76px;
  
}

.help-them__top-video-btn {
  height: 100px;
  width: 100px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 30px;
  color: #fff;
  transition: all .5s ease;
  font-family: 'Nunito', sans-serif;
  
}

.help-them__top-video-btn:hover {
  color: #fff;
  border-color: #15c8a0;
  border-color: var(--thm-primary);
  background-color: #15c8a0;
  background-color: var(--thm-primary);
  filter: brightness(100%);
  
}

.help-them__top-video-text {
  font-size: 30px;
  color: #15c8a0;
  font-family: "reeyregular";
  font-family: var(--thm-reey-font);
  font-weight: 400;
  margin-left: 54px;
  margin-top: 17px;
  margin-bottom: 0;
  font-family: 'Nunito', sans-serif;
  filter: brightness(100%);
}

.help-them__bottom {
  position: relative;
  display: block;
}

.help-them__single {
  display: flex
}

.help-them__icon {
  position: relative;
  display: block;
  top: 7px
}

.help-them__icon span {
  font-size: 65px;
  color: #15c8a0;
  line-height: 65px;
  position: relative;
  display: block;
  transition: all .5s linear;
  transition-delay: .1s
}

.help-them__icon span > a
{
  color: #15c8a0;
}

.help-them__icon span > a:hover
{
  color: yellowgreen;
}

.help-them__single:hover .help-them__icon span {
  transform: rotate(1turn)
}

.help-them__text {
  margin-left: 30px
}

.help-them__text h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 900;
  line-height: 30px;
  margin-bottom: 12px;
  font-family: 'Nunito', sans-serif;
}

.help-them__text p {
  font-size: 16px;
  color: #fff;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.help-them__top-content-title {
  text-align: center;
  font-size: 39px;
  line-height: 50px
}

.help-them__top-video-box {
  margin-left: 0;
  text-align: center;
  margin-top: 25px
}

.help-them__top-video-btn {
  margin: 0 auto
}

.help-them__single {
  margin-bottom: 30px
}

.help-them {
  padding: 87px 0 60px;
  

}



/* Estilo para o contêiner Jarallax */
.help-them-bg .jarallax {
  background: url(image/image4-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(100%);
  overflow: hidden;

}

/* Estilo para a imagem de fundo dentro do contêiner Jarallax */
.help-them-bg img {
  object-fit: cover;
  object-position: 50% 50%;
  max-width: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform, opacity;
  filter: brightness(20%);
}


/* ================== Formulário ==================== */

.form-section
{
  height: 100%;
}

.form-donation
{
  background: radial-gradient(circle, rgba(18,45,76,1) 31%, rgba(18,11,28,1) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
}


.wrapper{
  position: relative;
  width: 40%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 40px;
}

.top{
  display: flex;
  align-items: center;
  position: relative;
  top:15px;
  z-index: 2;
}

.top span{
  font-size: 40px;
  font-weight: 500;
}

.top span:first-child{
  color:rgb(255, 115, 0)
}

.top span:last-child{
  color: rgb(255, 156, 25);
}

.bottomm {
  position: relative;
  background-color: #FADBCC;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.bottomm .triangle{
  width: 0; 
  height: 0; 
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 60px solid #75372D;
  position: relative;
  left: 60px;
}


.bottomm form{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap:10px;
  height: 100%;
  width: 80%;   
  padding: 0px 20px;
}


.document 
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

input[type="file"]
     {
        display: none;
        
    }

     h6{
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

     #label-file
    {     
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }

    #label-file p 
    {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

.profilePic{
  display: flex;
  background-color: #653731;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #A36A4F;
  color: white;
  align-self: center;
  cursor: pointer;
}

.profilePic i:first-child {
  font-size: 30px;
}

.profilePic .circle{
  background-color: #A36A4F;
  position: absolute;
  left: 44%;
  bottom: 33%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.profilePic .circle i{
  font-size: 18px;
} 

@media (min-width: 801px) and (max-width: 900px)
{
  .profilePic .circle{
    background-color: #A36A4F;
    position: absolute;
    left: 44%;
    bottom: 44%;
}
}


@media (max-width: 800px)
{
  .profilePic .circle{
    background-color: #A36A4F;
    position: absolute;
    left: 44%;
    bottom: 44%;
}
}

.bottomm form input{
  border: none;
  outline: 0;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  
}

#label-porte {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}


.singUp {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

.singUp button{
  background-color: #A36A4F;
  color:white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 10px auto;
}

.singUp button:hover
{
  background: #15c8a0;
}

.singUp button i{
  color:#653731;
  font-size: 16px;
  margin-left: 10px;
}

.singUp span{
  cursor: pointer;
}

.form-donation .paw{
  font-size: 80px;
  position: relative;
}

.form-donation .paw:first-child{
  bottom:100px;
  right:200px;
  color: rgb(255, 115, 0);
  transform: rotate(-20deg);
}
.form-donation .paw:last-child{
  top:100px;
  left:200px;
  color: rgb(249, 254, 92);
  transform: rotate(20deg);
}

select {
  border: 1px solid #653731;
  background: transparent;
  color: #653731;
  padding: 10px 15px;
  border-radius: 4px;
  letter-spacing: 1px;
  cursor: pointer;
}

@media (min-width: 1300px)
{
  .form-donation
  {
    height: 60vh;
  }
}


@media (max-width: 1299px) {
  .wrapper{
      width: 50%;
  }

  .form-donation .paw{
      display: none;
  }

  .form-donation
  {
    height: 100%;
  }
}

@media (max-width: 998px) {
  .wrapper{
      width: 80%;
  }

}


@media (max-width: 669px) {
  .wrapper{
      width: 100%;
  }

  .bottomm{
      width: 90%
  }

}
@media (max-width: 441px) {
  .top span {
    font-size: 20px;
  font-weight: 500;
      
  }

  .form-donation
  {
    height: 90vh;
  }

  .profilePic .circle{
    background-color: #A36A4F;
    position: absolute;
    left: 44%;
    bottom: 33%;
}

  .singUp  {
     flex-direction: column-reverse;
     gap: 3px;
     align-items: center;
     top: 10px;
  }
  .singUp span{
      align-self: flex-start;
  }
  .singUp button{
      align-self: flex-end;
  }
}


@keyframes items{
  0%{
     transform: translateX(300%);
  }
  100%{
      opacity: 1;
      transform: translateX(0%);
  }
}


    /* ========== fim formulario ============= */

    footer
    {
      width:100%;
  background-color: radial-gradient(circle, rgba(18,45,76,1) 31%, rgba(18,11,28,1) 100%);
  color:#fff;
  }
  
  .top_header{
  padding: 2rem;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
  }
  
  .top_header section{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  }
  
  .top_header span{
  padding:0 1rem;
  }
  
  .top_header .fa{
  color:#ffbe00;
  font-size:35px;
  }
  
  footer .border-shape {
  width: 40%;
  }
  
  footer .border-shape::before {
  width: 100%;
  left:120px;
  }
  
  footer .border-shape::after {
  width: 100%;
  right:120px;
  }
  
  footer .bottom_content section{
  padding:1.5rem 2rem;
  display:flex;
  align-items:center;
  justify-content:Center;
  margin-top: -40px;
  }
  
  .bottom_content a{
  margin:0 20px;
  color:rgba(255,255,255,0.7);
  transition:0.5s;
  }
  
  .bottom_content a:hover{
  color:rgba(255,255,255,1);
  }
  
  
  .copyright{
  padding:0.8em 0;
  background-color:#1e1e1e;
  text-align:center;
  color:rgba(255,255,255,0.7);
  font-size:12px;
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
  
  }
  
  
  
  @media (max-width:820px) {
  .copyright 
  {
    background-color: transparent;
    margin-bottom: -100px;
  }

  .top_header{
  padding:1rem;
  display:block;
  }
  
  .top_header section{
  margin:20px 0;
  align-items:left;
  justify-content:left;
  }

  footer .bottom_content section{
  padding:1rem;
  display:block;
  margin-bottom: -10px;
  }

  footer .bottom_content section a{
  padding:1rem;
  font-size:12px;
  margin:0 5px;
  display:inline-block
  }

.top_header .fa{
  font-size:29px;
  }

  .top_header span{
    font-size: 0.8rem;
    }
}